html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
del,
cite,
address,
small,
sub,
sup,
b,
u,
i,
em,
strong,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-weight: normal;
  color: #000;
  font-size: 12px;
}

body {
  font: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

ul,
ol {
  list-style-type: none
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #e60012;
}

a:focus {
  outline: none;
}

li:focus {
  outline: none;
}

fieldset,
img {
  border: 0
}

q,
blockquote {
  quotes: "" ""
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""
}

del {
  text-decoration: line-through
}

ins {
  text-decoration: underline
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

cite,
em,
dfn {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

input,
textarea,
select,
button {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

label,
button {
  cursor: pointer
}

textarea {
  white-space: pre;
  resize: none;
  border: 1px solid #ececec;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
  font-size: 100%;
}
