body {
    background-color: #FAFAFA;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.clearfix {
    zoom: 1;
}

.play-list {
    position: relative;
    float: left;
    width: 240px;
    height: 300px;
    overflow: hidden;
}

.list-item {
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.play-list .scroll {
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.play-list .scroll .drag {
    position: absolute;
    left: 0;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #CDCDCD;
}

.play-list .scroll .scroll-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    text-align: center;
}

.play-list .scroll .scroll-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    text-align: center;
}

.scroll-top img {
    position: absolute;
    top: 4px;
    left: 5px;
    transform: rotate(180deg);
}

.scroll-bottom img {
    position: absolute;
    top: 4px;
    left: 5px;
}

.scroll-top:hover,
.scroll-bottom:hover {
    background-color: #CDCDCD;
}

.play-list-item {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #7c7b82;
    cursor: pointer;
}

.controls {
    float: left;
    width: 430px;
    margin-top: 64px;
    margin-left: 45px;
}

.controls .music-title {
    font-size: 25px;
    color: rgb(3, 3, 3);
}

.controls .music-artist {
    font-size: 15px;
    color: rgb(74, 74, 74);
}

.controls .current-time {
    margin-top: 18px;
}

.current-time .time {
    font-size: 11px;
    color: rgb(155, 155, 155);
    margin-right: 15px;
}

.current-time .volume {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url('../img/volume.jpg') no-repeat;
}

.current-time .volume-scroll {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 3px;
    background-color: rgb(229, 229, 232);
    cursor: pointer;
}

.volume-scroll .volume-value {
    display: block;
    height: 100%;
    width: 80%;
    background-color: rgb(151, 151, 151);
}

.current-time .lyric {
    float: right;
}

.music-progress {
    margin: 5px 0;
    height: 2px;
    background-color: #dadada;
    cursor: pointer;
}

.progress-value {
    height: 100%;
    width: 0;
    background-color: rgb(107, 189, 122);
}

.like {
    float: left;
    width: 88px;
    height: 25px;
    margin-top: 50px;
    background: url('../img/like.jpg') no-repeat;
}

.music-button {
    float: right;
    margin-top: 50px;
    text-align: center;
}

.music-button .prev,
.music-button .toggle,
.music-button .next {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0 18px;
    cursor: pointer;
}

.music-button .prev {
    background: url('../img/prv.jpg') no-repeat;
}

.music-button .toggle {
    background: url('../img/pause.jpg') no-repeat;
}

.music-button .next {
    background: url('../img/next.jpg') no-repeat;
    padding: 0;
}

.pic {
    float: left;
    width: 240px;
    height: 240px;
    margin-left: 40px;
    margin-top: 34px;
    border-radius: 50%;
    overflow: hidden;
    animation: ring 22s linear infinite;
}

.pic img {
    width: 100%;
}

.bg {
    height: 257px;
    background: url('../img/bg.jpg') no-repeat;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

